body {
    height: 100%;
    width: 100%;
}

body, h1 {
    margin: 0;
}

.container {
    background-color: #343a40 !important;
    height: 100%;
    width: 100%;
}

#user-text {
    color: #f8f9fa !important;
    padding: 1rem;
}

#square {
    background-color: #dc3545 !important;
}